<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.samsung.dali.modelconverter"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.samsung.dali.modelconverter/css/default.css">
         </property>
         <property
               name="appName"
               value="com.samsung.dali.modelconverter">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.samsung.dali.modelconverter/com.samsung.dali.modelconverter.controller.StartUp">
         </property>
      </product>
   </extension>

</plugin>
