<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest xmlns="http://tizen.org/ns/packages" api-version="3.0" package="$(AppId)" version="$(Version)">
	<profile name="wearable"/>
	<watch-application ambient-support="true" appid="$(AppId)" exec="watchloader" mainapp="true">
    	<label>$(AppLabel)</label>
    	<!--TODO: $(LocalisedLabels) -->

		<icon>icon.png</icon>
		<metadata key="http://developer.samsung.com/tizen/metadata/alpmtype" value="manual"/>
		<metadata key="http://developer.samsung.com/tizen/metadata/backgroundtickupdate" value="true"/>
		<metadata key="http://developer.samsung.com/tizen/metadata/tickpersecond" value="5"/>
<!--
		<metadata key="http://developer.samsung.com/tizen/metadata/self-aod-support" value="analog"/>
		<metadata key="http://developer.samsung.com/tizen/metadata/support-mode" value="screen-reader"/>
-->
	</watch-application>

	<privileges>
		<privilege>http://tizen.org/privilege/mediastorage</privilege>
		<privilege>http://tizen.org/privilege/volume.set</privilege>
		<privilege>http://tizen.org/privilege/haptic</privilege>
		<privilege>http://tizen.org/privilege/display</privilege>
		<privilege>http://tizen.org/privilege/alarm.set</privilege>
	</privileges>
</manifest>
