[project]
	description = DALi scene launcher
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group dalihub admins
	owner = group user/Victor Cebollada (vcebollada)
	label-Code-Review = -2..+2 group dalihub reviewers
	label-Code-Review = -1..+1 group dalihub developers
	label-Verified = -1..+1 group dalihub developers
	submit = group dalihub reviewers
[access "refs/for/refs/*"]
	read = group user/Victor Cebollada (vcebollada)
	push = group user/Victor Cebollada (vcebollada)
	label-Code-Review = -2..+2 group user/Victor Cebollada (vcebollada)
	label-Verified = -1..+1 group user/Victor Cebollada (vcebollada)
	rebase = group user/Victor Cebollada (vcebollada)
	removeReviewer = group user/Victor Cebollada (vcebollada)
	submit = group user/Victor Cebollada (vcebollada)
[access "refs/heads/*"]
	read = group user/Victor Cebollada (vcebollada)
	create = group user/Victor Cebollada (vcebollada)
	push = +force group user/Victor Cebollada (vcebollada)
	pushMerge = group user/Victor Cebollada (vcebollada)
[access "refs/tags/*"]
	push = group user/Victor Cebollada (vcebollada)
	push = +force group user/Victor Cebollada (vcebollada)
[receive]
	requireChangeId = true
