[project]
	description = DALi scene launcher
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vcebollada
[access "refs/for/refs/*"]
	read = group user/vcebollada
	push = group user/vcebollada
	label-Code-Review = -2..+2 group user/vcebollada
	label-Verified = -1..+1 group user/vcebollada
	rebase = group user/vcebollada
	removeReviewer = group user/vcebollada
	submit = group user/vcebollada
[access "refs/heads/*"]
	read = group user/vcebollada
	create = group user/vcebollada
	push = +force group user/vcebollada
	pushMerge = group user/vcebollada
[access "refs/tags/*"]
	push = group user/vcebollada
	push = +force group user/vcebollada
